html{
    background: #03fccf;
}
body{
 font-family: Arial, Helvetica, sans-serif;
 margin: 40px;
 padding: 40px;
 color: #242424;
 border-top: 10px solid #242424;
 background: #e3e3e3;
}

table{
    background: #999;
}

section{
    background: #ccc;
    padding: 20px;
    margin: 20px;
}

article {
    background: #999;
}

header {
    background: seashell;
    display: flex;
    padding: 30px;
    margin: 20px;
}


h1{
 font-size: 3em;
 margin: 0;
}

p{
 line-height: 1.4em;
 width: 750px;
}

.img-container {
    height: 10px;
    width: 750px;
    float: right;
    margin-left: 10px;
}

.img-container2 {
    height: 10px;
    width: 0px;
    float: right;
    margin-left: 10px;
}


.caption {
    height: 130px;
    width: 600px;
    float: right;
    margin-left: 50px;
}

.caption2 {
    height: 130px;
    width: 600px;
    float: right;
    margin-left: 50px;
}

.sticky {
 background: green;
 position: sticky;
 top: 0;
}

#blog {
 border-top: 1px dotted #ccc;
}

.blog-post {
 border-bottom: 1px dotted #ccc;
}

article{
    border-bottom: 1px solid #000;
}